:root {
  --shiki-foreground: rgb(229,231,235);
  --shiki-color-background: #ffffff;
  --shiki-token-constant: #ffffff;
  --shiki-token-string: rgb(152, 195, 121);
  --shiki-token-comment: #ffffff88;
  --shiki-token-keyword: rgb(97, 175, 239);
  --shiki-token-parameter: #AA0000;
  --shiki-token-function: rgb(145 180 213);
  --shiki-token-string-expression: rgb(198,120,221);
  --shiki-token-punctuation: #ffffff;
  --shiki-token-link: #EE0000;
}
