@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 255 255 255;
		--foreground: 0 0% 3.9%;
		--card: 255 255 255;
		--card-foreground: 10 10 10;
		--popover: 255 255 255;
		--popover-foreground: 10 10 10;
		--primary: 59 130 246;
		--primary-foreground: 241 245 249;
		--secondary: 244 244 245;
		--secondary-foreground: 26 26 26;
		--muted: 244 244 245;
		--muted-foreground: 118 118 118;
		--accent: 244 244 245;
		--accent-foreground: 26 26 26;
		--destructive: 239 68 68;
		--destructive-foreground: 250 250 250;
		--border: 229 229 229;
		--input: 229 229 229;
		--ring: 165 165 165;
		--radius: 0.5rem;
	}

	.dark {
		--background: 10 10 10;
		--foreground: 250 250 250;
		--card: 10 10 10;
		--card-foreground: 250 250 250;
		--popover: 10 10 10;
		--popover-foreground: 250 250 250;
		--primary: 99 102 241;
		--primary-foreground: 244 244 245;
		--secondary: 41 41 41;
		--secondary-foreground: 250 250 250;
		--muted: 41 41 41;
		--muted-foreground: 165 165 165;
		--accent: 41 41 41;
		--accent-foreground: 250 250 250;
		--destructive: 127 29 29;
		--destructive-foreground: 248 248 248;
		--border: 41 41 41;
		--input: 41 41 41;
		--ring: 213 213 213;
		--valid: 0 196 84;
		--valid-foreground: 250 250 250;
		--invalid: 239 68 68;
		--invalid-foreground: 250 250 250;
	}


	* {
		@apply border-border;
	}
	html {
		-webkit-text-size-adjust: 100%;
		font-variation-settings: normal;
	}
	body {
		@apply bg-background text-foreground min-h-screen antialiased font-sans;
		font-feature-settings: "rlig" 1, "calt" 1;
	}

	/* Mobile tap highlight */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
	html {
		-webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
	}

	/* === Scrollbars === */

	::-webkit-scrollbar {
		@apply w-2;
		@apply h-2;
	}

	::-webkit-scrollbar-track {
		@apply !bg-muted;
	}
	::-webkit-scrollbar-thumb {
		@apply rounded-sm !bg-muted-foreground/30;
	}

	/* Firefox */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#browser_compatibility */
	html {
		scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);
	}

	html.dark {
		scrollbar-color: hsl(215.4 16.3% 56.9% / 0.3);
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.hide-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.antialised {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

}


@layer utilities {
	.step {
		counter-increment: step;
	}

	.step:before {
		@apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
		@apply ml-[-50px] mt-[-4px];
		content: counter(step);
	}	
}

@media (max-width: 640px) {
	.container {
		@apply px-4;
	}
}

div[class^="language-"] {
	@apply mb-4 mt-6 max-h-[650px] overflow-x-auto md:rounded-lg border !bg-zinc-950 dark:!bg-zinc-900
}
pre {
	@apply py-4;
}

pre code {
	@apply relative  font-mono text-sm ;
}

pre code .line {
	@apply  px-4 min-h-[1.5rem] !py-0.5 w-full inline-block;
} 

.line-number {
	@apply min-h-[1.375rem] !text-sm !inline-block text-muted-foreground;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
}
